*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: #fff;
}

body {
  overflow: hidden;
}

main {
  height: 100vh;
}

#tables {
  height: 100vh;
  border-right: 0.1rem solid #f1f1f1;
  padding-right: 0 !important;
}

#tables a {
  border: none !important;
}

#tables .active {
  background-color: #f1f1f1;
  color: initial;
}

#tables ul {
}

#tables ul li {
  border: none !important;
  cursor: pointer;
}

#search {
  width: 80vw;
  display: flex;
  justify-content: center;
}

#search input {
  box-shadow: none;
  font-family: sans-serif;
}

#search input:focus {
  border-color: #a0a0a0;
}
.table {
  /* margin-right: 10rem !important; */
  width: 90%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
